body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
}

button {
    border: 1px black solid;
    border-radius: 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.title {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(31, 31, 255);
    box-shadow: 10px 10px 5px rgb(80, 80, 80);
}

.screen {
    display: flex;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    height: 30px;
    align-items: center;
    background: white;
    flex-direction: row-reverse;
    font-weight: 600;
}

.bottom {
    display: flex;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    height: 350px;
    width: 300px;
    margin: 20px;
    margin-right: 10px;
    background-color: rgb(31, 31, 255);
}

.number,
.decimal {
    width: 33.33333%;
}

.zero {
    width: 66.66666%;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    height: 350px;
    width: 100px;
    margin: 20px;
    margin-left: 0;
}

.operate {
    height: 20%;
}

.footer {
    background-color: lightgrey;
    width: 100%;
    margin-top: auto;
    font-size: 13px;
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
}

.operate {
    background-color: red;
    font-size: 14px;
    font-weight: 600;
}

.operate:active {
    background-color: rgb(205, 0, 0);
}

.number {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
}

.number:active {
    background-color: rgb(225, 225, 225);
}